{% extends 'base.html.twig' %}
{% block main %}
    <div class="col-12">
        <h1 class="mt-5">Заполните форму для создания пользователя</h1>
        <form class="form" action="http://blog.com/user/save" method="post">

            <label class="form-label mb-0 mt-3" for="name">Ваше имя:</label>
            <input id="name" class="form-control m-1" type="text" name="name">

            <label class="form-label mb-0 mt-3" for="password">Желаемый пароль:</label>
            <input id="password" class="form-control m-1" type="password" name="password">

            <button class="btn btn-primary m-1 mt-4" type="submit">Создать</button>
        </form>
    </div>
{% endblock %}