{% extends'base.html.twig' %}
{%  block main %}
    <div class="col-12">
        <h1 class="mt-5">Редактирование пользователя</h1>
        <form action="http://blog.com/user/update" method="post">
            <input type="text" name="id"  value="{{ user.id }}" hidden>
            <input class="form-control m-1 mt-4" type="text" name="name" value="{{ user.name }}">
            <button type="submit" class="btn btn-success m-1">Изменить</button>
        </form>
    </div>
{% endblock %}